# Python
__pycache__/
*.pyc
.pytest_cache/

# Screenshots y reportes (son muchos archivos)
screenshots/
reports/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Ambientes virtuales (si usas)
venv/
env/